.error-404 {
  background: $white;
  padding-top: 71px;
  padding-bottom: 78px;

  @include mq(620px) {
    padding-top: 90px;
    padding-bottom: 60px;
  }
}

.error-404__container {
  @include wrapper(620px);
}

.error-404__image {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;

  @include mq(530px) {
    margin-bottom: 36px;
    align-items: flex-start;
  }
}

.error-404__img {
  @include mq(530px) {
    width: 100%;
  }
}

.error-404__title {
  @include typograph-head-1;
  text-align: center;
  color: $tundora;
  margin-bottom: 23px;
}

.error-404__text {
  @include typograph-plain-m;
  color: $tundora;
  margin-bottom: 2em;
  text-align: center;

  &:last-child {
    margin-bottom: 40px;
  }
}

.error-404__nav {
  display: flex;
  flex-flow: row wrap;
}

.error-404__link {
  @include typograph-head-2;
  flex: 1 1 100%;
  color: $portage;
  text-decoration: none;
  text-align: center;
  margin-bottom: 0.5em;

  &:last-child {
    margin-bottom: 0
  }

  @include mq(620px) {
    @include typograph-plain-l;
  }
}
