.city-select__current-link {
  text-align: right;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;

  &:hover {
    color: $flamingo;
    cursor: pointer;
  }
}

.city-select__arrow {
  display: inline-block;
  margin-left: 5px;

  &--up {
    transform: rotate(180deg);
    position: relative;
    bottom: 2px;
  }
}

.city-select__cities-container {
  position: absolute;
  top: calc(100% + 7px);
  right: 0;
  width: 450px;
  box-shadow: 0 0 1px 0 rgba($black, 0.5);
  background: white;
  z-index: 1;
}

.city-select__cities-list {
  padding: 15px 15px 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.city-select__cities-item {
  flex: 1 1 50%;
  margin-bottom: 15px;
}

.city-select__cities-link {
  text-decoration: none;
  color: $black;

  &:hover, &:active {
    color: $flamingo;
  }
}
