.faq {
  background: $white;
  padding-top: 60px;
  padding-bottom: 74px;
}

.faq__container {
  @include wrapper(968px);
}

.faq__title {
  @include typograph-head-2;
  color: $tundora;
  margin-bottom: 21px;

  @include mq(800px) {
    text-align: center;
  }
}

.faq__tabs {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.faq__tab-header {
  flex: 0 1 55%;
  counter-reset: list;
  padding-right: 70px;

  @include mq(800px) {
    flex: 1 1 100%;
    padding-right: 0;
  }
}

.faq__tab-head {
  @include typograph-plain-l;
  color: $tundora;
  border-bottom: 2px solid $wild-sand;
  padding: 25px 0 25px 45px;
  position: relative;

  &:before {
    @include absolute-vertical-center;
    @include typograph-plain-m;
    counter-increment: list;
    content: counter(list) "";
    left: 0;
    width: 23px;
    height: 23px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba($tundora, 0.1);
    color: rgba($tundora, 0.4);
  }

  &.active {
    font-weight: $semibold;

    &:before {
      color: $tundora;
      font-weight: $semibold;
      background: rgba($flamingo, 0.4);
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}

.faq__tab-body {
  background: $white;
  box-shadow: 0 20px 45px 0 #ececec;
  padding: 52px 35px 22px;
  width: 45%;
  top: 0;
  right: 0;
  position: absolute;
  @include typograph-plain-l;
  color: $tundora;

  @include mq(800px) {
    position: static;
    width: 100%;
    box-shadow: none;
    padding: 25px 15px 20px;
  }
}
