.footer {
  background-color: $white;
  padding-top: 60px;

  @include mq(970px){
    padding-top: 35px;
  }
}

.footer__container {
  @include wrapper(990px);
}

.footer__first {
  padding-bottom: 36px;
  margin-bottom: 16px;
  border-bottom: solid 2px rgba($gallery, 0.2);

  @include mq(970px){
    padding-bottom: 24px;
    margin-bottom: 16px;
  }
}

.footer__columns {
  display: flex;

  @include mq(970px) {
    flex-flow: row wrap;
  }
}

.footer__column {
  flex: 1 1 25%;

  @include mq(970px) {
    flex: 1 1 33.3%;
    margin-bottom: 20px;

    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

  @include mq(700px){
    &:nth-child(1) {
      order: 3;
      flex: 1 1 100%;
    }

    &:nth-child(2) {
      order: 1;
      flex: 1 1 50%;
    }

    &:nth-child(3) {
      order: 2;
      flex: 1 1 50%;
    }

    &:nth-child(4) {
      order: 4;
      flex: 1 1 100%;
    }
  }
}

.footer__contacts {
  display: flex;
  flex-flow: row wrap;
}

.footer__contacts-title {
  @include typograph-plain-m;
  flex: 1 1 100%;
  margin-bottom: 17px;
  color: rgba($tundora, 0.65);
  font-weight: $semibold;

  &--middle {
    padding-left: 33.3%;

    @include mq(700px){
      padding-left: 0;
    }
  }
}

.footer__phone {
  @include typograph-plain-m;
  flex: 1 1 100%;
  margin-bottom: 17px;
  color: rgba($tundora, 0.65);
  text-decoration: none;
}

.footer__email {
  @extend .footer__phone;
}

.footer__address {
  @extend .footer__phone;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  width: 140px;
  align-items: center;
}

.footer__social {
  flex: 1 1 33.3%;
}

.footer__social-link {
  display: block;

  &--fb {
    width: 11px;
    height: 22px;
    background: url('./assets/main/svg/fb.svg');
  }

  &--inst {
    width: 21px;
    height: 22px;
    background: url('./assets/main/svg/inst.svg');
  }

  &--vk {
    width: 34px;
    height: 21px;
    background: url('./assets/main/svg/vk.svg');
  }
}

.footer__menu-link {
  @extend .footer__phone;
  text-decoration: none;
  display: block;
  padding-left: 33.3%;

  @include mq(700px){
    padding-left: 0;
  }

  &--site {
    color: $flamingo;
    text-decoration: underline;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__license {
  padding-left: 33.3%;

  @include mq(970px) {
    padding-left: 0;
  }
}

.footer__license-image {
  margin-bottom: 10px;
}

.footer__license-img {
  display: block;
}

.footer__license-text {
  @extend .footer__phone
}

.footer__second {
  padding-bottom: 11px;

  @include mq(700px) {
    padding-bottom: 11px;
  }
}

.footer__second-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq(700px) {
    flex-flow: row wrap;
  }
}

.footer__copyright {
  @include typograph-plain-m;
  color: rgba($tundora, 0.6);
  text-decoration: none;
  font-size: 10px;
  text-align: center;

  @include mq(700px) {
    order: 2;
    flex: 1 1 100%;
    padding-bottom: 17px;
  }
}

.footer__privacy {
  @extend .footer__copyright;
  text-align: center;
  text-decoration: underline;

  @include mq(700px){
    flex: 1 1 100%;
    order: 1;
  }
}
