.form {
  padding-top: 80px;
  padding-bottom: 80px;
  background: $oslo-gray;
}

.form__container {
  @include wrapper(800px);
}

.form__title {
  @include typograph-head-2;
  color: $white;
  text-align: center;
  font-weight: $semibold;
  margin-bottom: 40px;
}

.form__description {
  @include typograph-plain-l;
  color: $white;
  margin-bottom: 40px;
  text-align: center;

  @include mq(700px) {
    br {
      display: none;
    }
  }
}

.form__form {
  background: $white;
  display: flex;
  flex-flow: row wrap;
  padding: 42px 60px 46px;

  @include mq(800px) {
    flex-flow: row wrap;
  }

  @include mq(800px) {
    padding: 50px 15px 30px;
  }
}

.form__group {
  flex: 1 1 50%;
  margin-bottom: 14px;
  position: relative;

  &--2-col {
    &:nth-child(odd) {
      padding-right: 15px;
      .form__valid-icon {
        right: 38px;
      }
    }

    &:nth-child(even) {
      padding-left: 15px;
      .form__valid-icon {
        right: 23px;
      }
    }
  }

  @include mq(800px) {
    flex: 1 1 100%;

    &--2-col {
      &:nth-child(even), &:nth-child(odd) {
        padding: 0;

        .form__valid-icon {
          right: 23px;
        }
      }
    }
  }
}

.form__input-wrapper {
  position: relative;
}

.form__input {
  @include typograph-plain-m;
  width: 100%;
  border: 1px solid $dusty-gray;
  box-shadow: none;
  background-color: $white;
  border-radius: 5px;
  padding-left: 12px;
  height: 35px;
  color: $tundora;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 1px $portage;
  }

  &--error {
    border-color: $flamingo;
    color: $flamingo;
  }
}

.form__error {
  @include typograph-plain-m;
  text-align: center;
  color: $flamingo;
  position: absolute;
  width: 100%;
}

.form__valid-icon {
  @include absolute-vertical-center;
  right: 23px;
  &.required {
    font-weight: $medium;
    font-size: 20px;
    color: $flamingo;
    top: 60%;
  }
  &.valid {
    width: 15px;
    height: 11px;
    background: url('./assets/main/svg/shape-copy.svg');
  }
}

.form__radio-buttons {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: solid 1px $dusty-gray;
  background-color: $white;
  height: 35px;
  width: 100%;
}

.form__radio-item {
  border-right: solid 1px $dusty-gray;
  flex: 1 1 100%;
  position: relative;

  &:last-child {
    border: 0;
  }
}

.form__radio-label {
  position: absolute;
  height: 35px;
  width: 100%;
}

.form__radio {
  display: none;

  &:checked + .form__radio-button {
    color: $flamingo;
  }
}

.form__radio-button {
  @include typograph-plain-m;
  color: $tundora;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  cursor: pointer;
}

.form__select-wrapper {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    right: 1px;
    top: 1px;
    width: 40px;
    height: 33px;
    background: $white;
  }

  &:after {
    @include absolute-vertical-center;
    content: '';
    right: 8px;
    width: 12px;
    height: 5px;
    background: url('./assets/main/svg/shape.svg');
  }
}

.form__select {
  @include typograph-plain-m;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  border: 0;
  background: $white;
  width: 100%;
  height: 35px;
  padding-left: 12px;
}

.form__offer {
  @include typograph-plain-m;
  color: $dusty-gray;
}

.form__submit {
  @include button;

  &:hover, &:active {
    box-shadow: 0 0 10px 0 $melrose;
  }

  @include mq(400px) {
    width: 100%;
  }
}

html#ecwid_html body#ecwid_body .ecwid.ecwid-SingleProduct-v2 .ecwid-btn--addToBag,
html#ecwid_html body#ecwid_body .ecwid.ecwid-SingleProduct-v2 .ecwid-btn--addToBag:hover {
  height: 35px;
  background: $portage;
  border-radius: 60px;
  color: $white;
  text-transform: uppercase;
  border: 0;
  box-shadow: none;
  width: 200px;
  &.active {
    width: 300px;
  }

  &:hover, &:active {
    box-shadow: 0 0 10px 0 $melrose;
  }

  @include mq(400px) {
    width: 100%;
  }
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control:not(.form-control--loading) .form-control__button,
html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control.form-control--loading .form-control__button,
html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control.form-control--loading .form-control__button:hover,
html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control:not(.form-control--loading) .form-control__button:hover {
  -webkit-box-shadow: none;
  background: #819af0;
  border: 0;
  border-radius: 60px;
  box-shadow: none;
  color: #fff;
}
