.learn-more__form {
  margin-bottom: 17px;
}

.learn-more__wrapper {
  margin-bottom: 14px;
}

.learn-more__icon.form__valid-icon {
  right: 38px;
}

.learn-more__submit {
  width: 240px;
  margin: 0 auto 17px;
  display: flex;
  justify-content: center;
}

.learn-more__text {
  @include typograph-plain-m;
  color: $dusty-gray;
  text-align: center;
}


.learn-more {
  .modal {
    align-items: center;
    bottom: 0;
    display: none;
    justify-content: center;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: $layout-spacing;
    position: fixed;
    right: 0;
    top: 0;

    &:target,
    &.active {
      display: flex;
      opacity: 1;
      z-index: $zindex-4;

      .modal-overlay {
        background: rgba($bg-color, .75);
        bottom: 0;
        cursor: default;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      .modal-container {
        animation: slide-down .2s ease 1;
        z-index: $zindex-0;
      }
    }

    &.modal-sm {
      .modal-container {
        max-width: $control-width-sm;
        padding: 0 $unit-2;
      }
    }

    &.modal-lg {
      .modal-overlay {
        background: $bg-color-light;
        }

      .modal-container {
        box-shadow: none;
        max-width: $control-width-lg;
      }
    }
  }

  .modal-container {
    @include shadow-variant(.2rem);
    background: $bg-color-light;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    max-width: 462px;
    padding: 0;
    width: 100%;

    &.modal-fullheight {
      max-height: 100vh;
    }

    .modal-header {
      color: $dark-color;
      padding: 18px 18px 0;
    }

    .modal-title.h5 {
      @include typograph-head-3;
      color: $tundora;
      margin-bottom: 18px;
      text-align: center;
    }

    .modal-title.h6 {
      @include typograph-plain-l;
      color: $tundora;
      text-align: center;
      width: 70%;
      margin: 0 auto 25px;

      @include mq(462px) {
        width: 100%;
      }
    }

    .modal-body {
      overflow-y: auto;
      padding: 0 43px;
      position: relative;
    }
  }
}
