.promo {
  padding-top: 223px;
  padding-bottom: 222px;
  background: linear-gradient(334.45deg, #CFFFE6 -17.28%, #F9FDDE 100%);

  @include mq(500px) {
    padding-top: 167px;
    padding-bottom: 167px;
  }
}

.promo__container {
  @include wrapper(734px);
}

.promo__title {
  @include typograph-head-1;
  color: $tundora;
  text-align: center;
  margin-bottom: 50px;

  @include mq(500px) {
    font-size: 36px;
  }

  @include mq(359px) {
    font-size: 32px;
  }
}

.promo__description {
  @include typograph-head-3;
  color: $flamingo;
  padding-bottom: 60px;
  position: relative;
  text-align: center;
  margin-bottom: 39px;

  &:before {
    @include absolute-horizontal-center;
    content: '';
    bottom: 0;
    width: 15px;
    height: 32px;
    background: url('./assets/events/svg/right-arrow.svg');
  }
}

.promo__button-wrapper {
  display: flex;
  justify-content: center;
}

.promo__button {
  @include button;
  justify-content: center;
}
