.scroll {
  @include absolute-horizontal-center;
  @include typograph-plain-m;
  bottom: 74px;
  color: rgba($bali-hai, 0.8);
  cursor: pointer;
  text-decoration: none;

  &:before {
    @include absolute-horizontal-center;
    content: '';
    width: 10px;
    height: 20px;
    top: calc(100% + 20px);
    background: url('./assets/main/png/right-arrow-1.png');
  }

  @include mq(800px) {
    bottom: 54px;
  }
}
