.skilled-teachers {
  padding-top: 23px;
  padding-bottom: 33px;
}

.skilled-teachers__main-text {
  @include typograph-plain-l;
  color: $tundora;
  margin-bottom: 19px;
  width: 65%;

  @include mq(880px) {
    width: 100%;
  }
}

.skilled-teachers__list {
  display: flex;

  @include mq(880px) {
    flex-flow: row wrap;
  }

  @include mq(480px) {
    justify-content: space-between;
  }
}

.skilled-teachers__item {
  flex: 1 1 25%;
  padding-top: 12px;

  @include mq(880px) {
    flex: 1 1 50%;
  }

  @include mq(480px) {
    flex: 0 1 46%;
    padding: 12px 5% 12px;
  }

  &:last-child {
    background: $flamingo;

    .skilled-teachers__text {
      color: $white;
    }

    .skilled-teachers__description {
      color: $white;
    }

    .skilled-teachers__value {
      color: $white;
    }
  }
}

.skilled-teachers__text {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  padding-left: 18%;

  @include mq(880px) {
    justify-content: center;
  }

  @include mq(480px) {
    padding: 0;
  }
}

.skilled-teachers__description {
  @include typograph-plain-l;
  color: $dusty-gray;
  flex: 1 1 100%;
  margin-bottom: 15px;

  @include mq(480px) {
    @include typograph-plain-m;
  }
}

.skilled-teachers__value {
  @include typograph-head-1;
  margin-right: 10px;
  color: $mine-shaft;
  flex: 1 1 100%;
  margin-bottom: 23px;

  @include mq(480px) {
    font-size: 30px;
  }

  @include mq(360px) {
    font-size: 26px;
  }
}

.skilled-teachers__image {
  margin-bottom: 5px;
}

.skilled-teachers__img {
  display: block;
  margin: 0 auto;

  &:nth-child(2) {
    display: none;
  }

  @include mq(480px) {
    width: 100%;
  }
}
