.speaker {
  padding-top: 60px;
  padding-bottom: 70px;
  background: linear-gradient(335.55deg, #EEF1F6 -17.28%, #FCFDFD 100%);

  @include mq(944px) {
    padding-bottom: 60px;
  }
}

.speaker__container {
  @include wrapper(944px)
}

.speaker__title {
  @include typograph-head-2;
  color: $tundora;
  text-align: center;
  margin-bottom: 23px;
}

.speaker__subtitle {
  @include typograph-plain-l;
  color: $tundora;
  text-align: center;
  margin-bottom: 23px;
}

.speaker__list {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;

  @include mq(944px) {
    overflow-x: scroll;
  }
}

.speaker__item {
  flex: 1 1 25%;
  padding-right: 42px;
}

.speaker__photo {
  margin-bottom: 26px;
}

.speaker__img {

}

.speaker__name {
  @include typograph-plain-l;
  font-weight: $bold;
  margin-bottom: 17px;
  color: $tundora;
}

.speaker__action {
  @include typograph-head-3;
  text-transform: uppercase;
  color: $flamingo;
  margin-bottom: 11px;
  font-weight: $semibold;
}

.speaker__description {
  @include typograph-plain-l;
  color: $tundora;
  padding-right: 14px;
}

.speaker__popup-wrapper {
  display: flex;
  justify-content: center;
}

.speaker__popup {
  @include button($portage)
}
