.start-right-now {
  background: $oslo-gray;
}

.start-right-now__container {
  @include wrapper(810px);
  padding-top: 63px;
  padding-bottom: 60px;
}

.start-right-now__title {
  @include typograph-head-2;
  color: $white;
  margin-bottom: 19px;
  text-align: center;
  font-weight: $semibold;
}

.start-right-now__description {
  @include typograph-head-4;
  color: $white;
  margin-bottom: 24px;
  text-align: center;
}

.start-right-now__list {
  display: flex;
  justify-content: center;

  @include mq(400px) {
    flex-flow: row wrap;
  }
}

.start-right-now__item {
  margin: 0 20px;

  @include mq(400px) {
    flex: 1 1 100%;
    margin: 0 0 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.start-right-now__link {
  @include typograph-head-3;
  border: solid 1px $white;
  padding: 7px 43px;
  border-radius: 30px;
  background: $oslo-gray;
  display: inline-block;
  text-decoration: none;
  color: $white;

  &.active,
  &:hover {
    background-color: $white;
  }

  &:hover {
    color: $oslo-gray;
    background-color: rgba($white, 0.5);
  }

  &.active {
    color: $portage;
  }

  @include mq(400px) {
    width: 100%;
    text-align: center;
  }
}
