.statistics {
  background: linear-gradient(342.21deg, #EEF1F6 -17.28%, #FCFDFD 100%);
  padding-top: 80px;
  padding-bottom: 80px;

  @include mq(660px) {
    padding-top: 60px;
    padding-bottom: 98px;
  }
}

.statistics__container {
  @include wrapper(920px);
}

.statistics__list {
  display: flex;
  justify-content: space-between;

  @include mq (920px) {
    overflow-x: scroll;
  }
}

.statistics__item {
  flex: 1 1 33.3%;

  @include mq (920px) {
    min-width: 207px;
    padding-right: 27px;
  }
}

.statistics__value {
  font-size: 104px;
  font-weight: $medium;
  line-height: normal;
  color: $tundora;
  margin-bottom: 16px;
}

.statistics__title {
  @include typograph-head-3;
  color: $tundora;
  margin-bottom: 36px;

  @include mq (920px) {
    br {
      display: none;
    }
  }
}

.statistics__description {
  @include typograph-plain-l;
  color: $tundora;

  @include mq (920px) {
    br {
      display: none;
    }
  }
}
