.testimonials {
  background-image: linear-gradient(288deg, #eef1f6, #fcfdfd);
  padding-top: 60px;
  padding-bottom: 90px;

  &.white {
    background: $white;
  }
}

.testimonials__container {
  @include wrapper(794px);
}

.testimonials__title {
  @include typograph-head-2;
  text-align: center;
  margin-bottom: 45px;
  color: $tundora;
}

.testimonials__slider {
  position: relative;
}

.testimonials-slide__header {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  max-width: 572px;
  padding: 0 40px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;

  @include mq(600px) {
    padding: 0;
  }
}

.testimonials-slide__photo {
  padding-right: 27px;
  position: relative;
}

.testimonials-slide__link {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.testimonials-slide__link-image {
  text-decoration: none;
}

.testimonials-slide__name {
  @include typograph-head-4;
  margin-bottom: 10px;
}

.testimonials-slide__description {
  @include typograph-plain-l;
}

.testimonials-slide__body {
  @include typograph-plain-l;
  text-align: center;
  max-width: 572px;
  padding: 0 40px;
  margin-left: auto;
  margin-right: auto;
}

.testimonials__button {
  @include absolute-vertical-center;
  content: '';
  width: 36px;
  height: 36px;
  background-color: $white;
  box-shadow: 0 2px 8px 0 rgba(133, 145, 176, 0.31);
  z-index: 10;
  cursor: pointer;
  border-radius: 50%;

  &.swiper-button-disabled {
    opacity: 0.5;
    cursor: auto;
  }

  &:before {
    @include absolute-center;
    content: '';
    width: 16px;
    height: 14px;
  }

  &--prev {
    left: 0;

    &:before {
      @include absolute-center;
      content: '';
      width: 16px;
      height: 14px;
      background: url('./assets/main/png/combined-shape.png');
    }
  }

  &--next {
    right: 0;

    &:before {
      @include absolute-center;
      content: '';
      width: 16px;
      height: 14px;
      background: url('./assets/main/png/combined-shape-2.png');
    }
  }
}
