.video {
  padding-top: 60px;
  padding-bottom: 70px;
  background: linear-gradient(335.52deg, #EEF1F6 -17.28%, #FCFDFD 100%);

  @include mq(400px) {
    padding-bottom: 39px;
  }
}

.video__container {
  @include wrapper(686px)
}

.video__title {
  @include typograph-head-2;
  color: $tundora;
  text-align: center;
  margin-bottom: 30px;
}

.video__subtitle {

}

.video__video {
  iframe {
    width: 100%;

    @include mq(400px) {
      height: auto;
    }
  }
}

.video__description {
  @include typograph-head-4;
  color: $tundora;
  margin-top: 30px;
  text-align: center;
}
