.what-is-maximum {
  background: $oslo-gray;
}

.what-is-maximum__container {
  @include wrapper(954px);
  padding-top: 80px;
  padding-bottom: 80px;

  @include mq(900px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.what-is-maximum__title {
  @include typograph-head-2;
  color: $white;
  font-weight: $semibold;
  text-align: center;
  margin-bottom: 48px;
}

.what-is-maximum__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(900px) {
    flex-flow: wrap row;
  }
}

.what-is-maximum__item {
  flex: 1 1 33.3%;

  @include mq(900px) {
    flex: 1 1 100%;
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.what-is-maximum__value {
  @include typograph-head-1;
  margin-bottom: 28px;
  text-align: center;
  color: $white;
}

.what-is-maximum__description {
  @include typograph-plain-l;
  text-align: center;
  color: $white;
}
