.work-shop {
  padding-top: 131px;
  padding-bottom: 114px;
  background-image: url('./assets/events/png/laptop.png'), linear-gradient(332.32deg, #EEF1F6 -17.28%, #FCFDFD 100%);
  background-repeat: no-repeat, repeat;
  background-position: calc(100% - 76px) center, 0 0;

  @include mq(1439px) {
    background-position: 100% center, 0 0;
  }

  @include mq(1244px) {
    background-size: 50%, auto;
  }

  @include mq(800px) {
    padding-top: 32px;
    padding-bottom: 38px;
    background-position: 15px calc(100% - 88px), 0 0;
    background-size: 380px, auto;
  }

  @include mq(430px) {
    background-size: calc(100% - 30px), auto;
  }
}

.work-shop__container {
  @include wrapper(982px);
}

.work-shop__content {
  display: flex;
}

.work-shop__text {
  padding-top: 41px;

  @include mq(800px) {
    padding-top: 0;
  }
}

.work-shop_title {
  @include typograph-head-1;
  color: $tundora;
  font-weight: $semibold;
  margin-bottom: 28px;

  @include mq(800px) {
    br {
      display: none;
    }
  }
}

.work-shop__description {
  @include typograph-plain-l;
  color: $tundora;
  margin-bottom: 31px;

  @include mq(800px) {
    br {
      display: none;
    }
  }
}

.work-shop__free {
  @include typograph-head-4;
  color: $flamingo;
  text-transform: uppercase;
  margin-bottom: 117px;
  font-weight: $semibold;

  @include mq(800px) {
    margin-bottom: 252px;
  }
}

.work-shop__link {
  @include button-small;
}

.work-shop__image {

}

.work-shop__img {

}
