<template>
  <div class="contacts" v-if="city.city !== 'Онлайн'">
    <Header></Header>
    <contact-info :city="city"></contact-info>
    <map-component :city="city"></map-component>
    <Details :city="city"></Details>
    <Footer></Footer>
    <div class="ec-cart-widget"></div>
    <div v-if="false">
      <script2 data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?14362079&data_platform=code&data_date=2018-08-13" charset="utf-8"></script2>
      <script2 type="text/javascript">Ecwid.init();</script2>
    </div>
  </div>
  <div v-else>
    <Header></Header>
    <div class="ec-cart-widget"></div>
    <div v-if="false">
      <script2 data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?14362079&data_platform=code&data_date=2018-08-13" charset="utf-8"></script2>
      <script2 type="text/javascript">Ecwid.init();</script2>
    </div>
    <Footer></Footer>
  </div>
</template>
Hostname: ilia-test.dpush.ru
Username: admin_ilia
Password: pJA2FZ0GGB
<script>
import Header from '@/components/Header'
import ContactInfo from '@/components/ContactInfo'
import MapComponent from '@/components/MapComponent'
import Details from '@/components/Details'
import Footer from '@/components/Footer'
import { mapState } from 'vuex'
export default {
  name: 'Contacts',
  components: {
    Header,
    ContactInfo,
    MapComponent,
    Details,
    Footer
  },
  computed: {
    ...mapState({
      city: state => state.city
    })
  }
}
</script>
