<template>
  <div class="event-online">
    <Header></Header>
    <!--в descriptions передается коллекция. Если нужно одно описание, передавать массив с одним элементом-->
    <event-hello
      :title="event.title"
      :descriptions="event.theses.map(el => el.text)"
      :date="date(event.date)"
      :timeStart="time(event.date)"
      :timeEnd="endTime(event.date)"
      :label="event.overhead"
      :price="`Участие бесплатно`"
      :classes="['blank', 'gray-color', 'flamingo-price', 'portage-button']"
      :weekDay="weekDay(event.date)"
    ></event-hello>
    <right-preparation :onlineEventWindow="event.onlineEventWindow"> </right-preparation>
    <Video
    :title="`Почему мы знаем о ЕГЭ всё:`"
    :subtitle="``"
    :videoId="`dm5PFZNvnhw`"
    :description="`Отзыв выпускника MAXIMUM, Никита Киселёв`"
    ></Video>
    <promo></promo>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '@/components/Header'
import EventHello from '@/components/EventHello'
import RightPreparation from '@/components/RightPreparation'
import Video from '@/components/Video'
import Promo from '@/components/Promo'
import Footer from '@/components/Footer'
import moment from 'moment'
export default {
  name: 'EventOnline',
  props: ['event'],
  components: {
    Header,
    EventHello,
    RightPreparation,
    Video,
    Promo,
    Footer
  },
  methods: {
    date (date) {
      return moment(date).locale('ru').format('LL')
    },
    time (date) {
      return moment(date).locale('ru').format('LT')
    },
    endTime (date) {
      return moment(date).add(1, 'hours').add(30, 'minutes').locale('ru').format('LT')
    },
    weekDay (date) {
      return moment(date).locale('ru').format('dddd')
    }
  }
}
</script>
