<template>
  <div class="event-offline">
    <Header></Header>
    <!--в descriptions передается коллекция. Если нужно одно описание, передавать массив с одним элементом-->
    <event-hello
      :title="event.title"
      :subtitle="event.subtitle"
      :descriptions="[]"
      :date="date(event.date)"
      :timeStart="time(event.date)"
      :timeEnd="endTime(event.date)"
      :label="event.overhead"
      :place="event.address"
      :price="`Участие бесплатно`"
      :weekDay="weekDay(event.date)"
      :classes="['vr', 'white-color', 'chardonnay-price', 'flamingo-button']"
    ></event-hello>
    <next-step :offlineEventWindow="event.offlineEventWindow" v-if="showOfflineWindow"></next-step>
    <speaker :offlineSpeakerWindow="event.offlineSpeakerWindow" v-if="showSpeakers"></speaker>
    <program :offlineProgramWindow="event.offlineProgramWindow" v-if="showProgram"></program>
    <statistics :offlineStatWindow="event.offlineStatWindow" v-if="showStatistic"></statistics>
    <event-hello
      :title="''"
      :subtitle="``"
      :descriptions="[]"
      :date="date(event.date)"
      :timeStart="``"
      :timeEnd="``"
      :label="''"
      :place="``"
      :price="``"
      :classes="['students', 'flamingo-button', 'empty']"
    ></event-hello>
    <events-flow></events-flow>
    <testimonials :title="`Отзывы участников`" :classes="[`white`]" :data="event.offlineReviewsWindow" v-if="showReviews"></testimonials>
    <maximum-goal></maximum-goal>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '@/components/Header'
import EventHello from '@/components/EventHello'
import NextStep from '@/components/NextStep'
import Speaker from '@/components/Speaker'
import Program from '@/components/Program'
import Statistics from '@/components/Statistics'
import EventsFlow from '@/components/EventsFlow'
import Testimonials from '@/components/Testimonials'
import MaximumGoal from '@/components/MaximumGoal'
import Footer from '@/components/Footer'
import moment from 'moment'
export default {
  name: 'EventOffline',
  props: ['event'],
  components: {
    Header,
    EventHello,
    NextStep,
    Speaker,
    Program,
    Statistics,
    EventsFlow,
    Testimonials,
    MaximumGoal,
    Footer
  },
  computed: {
    showReviews () {
      return this.event.offlineReviewsWindow && this.event.offlineReviewsWindow.length && this.event.offlineReviewsWindow[0].name.trim().length
    },
    showOfflineWindow () {
      return this.event.offlineEventWindow && this.event.offlineEventWindow.title.trim().length
    },
    showSpeakers () {
      return this.event.offlineSpeakerWindow && this.event.offlineSpeakerWindow.speakers.length && this.event.offlineSpeakerWindow.speakers[0].name.trim().length
    },
    showProgram () {
      return this.event.offlineProgramWindow && this.event.offlineProgramWindow.length && this.event.offlineProgramWindow[0].speeches.length && this.event.offlineProgramWindow[0].speeches[0].time.trim().length
    },
    showStatistic () {
      return this.event.offlineStatWindow && this.event.offlineStatWindow.length && this.event.offlineStatWindow[0].title.trim().length
    }
   },
  methods: {
    date (date) {
      return moment(date).locale('ru').format('LL')
    },
    time (date) {
      return moment(date).locale('ru').format('LT')
    },
    endTime (date) {
      return moment(date).add(1, 'hours').add(30, 'minutes').locale('ru').format('LT')
    },
    weekDay (date) {
      return moment(date).locale('ru').format('dddd')
    }
  }
}
</script>
