<template>
    <EventOnline v-if="event.online" :event="event" />
    <EventOffline v-else :event="event" />
</template>

<script>
import EventOnline from './EventOnline'
import EventOffline from './EventOffline'
import { mapState, mapActions } from 'vuex'
export default {
  name: 'Event',
  components: { EventOnline, EventOffline },
  computed: {
    ...mapState({
      event: state => state.event
    })
  },
  methods: {
    ...mapActions({
      getEvent: 'getEvent'
    })
  },
  mounted () {
    this.getEvent({
      url: this.$route.params.id
    })
  },
  watch: {
    event (newVal) {
      if (newVal) {
        document.title = newVal.title
      }
    }
  }
}
</script>

<style scoped>

</style>
