<template>
  <div class="header__city">
    <div class="city-select__current-link" @click="reverse(isActive)">{{selectedCity.city}} <img class="city-select__arrow" :class="arrowDirection" src="../assets/main/svg/shape.svg"></div>
    <div class="city-select__cities-container" v-if="isActive">
      <ul class="city-select__cities-list">
        <li v-for="item in cities" :key="item._id" class="city-select__cities-item" @click="setSelectedCity(item)">
          <a href="#" @click.prevent class="city-select__cities-link">{{item.city}}</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CitySelect',
  props: {
    cities: {
      type: Array,
      default: function () { return ['Местоположение не определено'] }
    },
    selectedCity: {
      type: Object,
      default: function () { return this.cities[0] }
    },
    selectCity: {
      type: Function,
      default: f => f
    }
  },
  data () {
    return {
      isActive: false
    }
  },
  computed: {
    arrowDirection () {
      if (this.isActive === true) {
        return 'city-select__arrow--up'
      } else {
        return 'city-select__arrow--down'
      }
    }
  },
  methods: {
    reverse (v) {
      if (typeof v === 'boolean') {
        this.isActive = !v
      }
    },
    setSelectedCity (item) {
      this.selectCity(item)
      this.isActive = false
    }
  }
}
</script>
