<template>
  <div class="contact-info">
    <div class="contact-info__container">
      <div class="contact-info__title">Контакты</div>
      <div class="contact-info__list">
        <div class="contact-info__info">
          <div class="contact-info__subway" v-if="city.actualAddress.metro">м. {{city.actualAddress.metro}}</div>
          <div class="contact-info__address">{{city.actualAddress.address}}</div>
          <div class="contact-info__work-time" v-if="city.actualAddress.workTime">Режим работы: {{city.actualAddress.workTime}}</div>
          <div class="contact-info__phone" v-if="city.actualAddress.phone">
            Телефон:
            <a :href="'tel:'+city.actualAddress.phone" class="contact-info__link">{{city.actualAddress.phone}}</a>
          </div>
          <div class="contact-info__mail">
            Почта:
            <a href="mailto:info@maximumtest.ru" class="contact-info__link">info@maximumtest.ru</a>
          </div>
        </div>
        <div class="contact-info__photos">
          <div class="contact-info__photo" v-for="(img, idx) in city.img" :key="idx">
            <img :src="img" class="contact-info__img" style="max-width: 300px">
          </div>
        </div>
      </div>
      <div class="contact-info__list" v-if="city.multiAddress" v-for="(addr, idx) in city.secondaryAddresses" :key="idx" style="margin-top: 30px">
        <div class="contact-info__info">
          <div class="contact-info__subway">м. {{addr.actualAddress.metro}}</div>
          <div class="contact-info__address">{{addr.actualAddress.address}}</div>
          <div class="contact-info__work-time" v-if="addr.actualAddress.workTime">Режим работы: {{addr.actualAddress.workTime}}</div>
          <div class="contact-info__phone" v-if="addr.actualAddress.phone">
            Телефон:
            <a :href="'tel:'+addr.actualAddress.phone" class="contact-info__link">{{addr.actualAddress.phone}}</a>
          </div>
          <div class="contact-info__mail">
            Почта:
            <a href="mailto:info@maximumtest.ru" class="contact-info__link">info@maximumtest.ru</a>
          </div>
        </div>
        <div class="contact-info__photos">
          <div class="contact-info__photo" v-for="(img, idx) in addr.img" :key="idx">
            <img :src="img" class="contact-info__img" style="max-width: 300px">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContactInfo',
  props: ['city']
}
</script>
