<template>
  <div class="details">
    <div class="details__container">
      <div class="details__title">Реквизиты</div>
      <div class="details__table">
        <div class="details__row" v-for="(req, idx) in city.requisites" :key="idx">
          <div class="details__cell-title">{{req.name}}</div>
          <div class="details__cell-content">{{req.value}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Details',
  props: ['city']
}
</script>
