<template>
  <section class="events">
    <div class="events__container">
      <div class="events__title">Наши бесплатные мероприятия</div>
      <div class="events__slider">
        <swiper :options="swiperOption" ref="mySwiper" @resize="callback" @transitionStart="callback">
          <swiper-slide v-for="slide in events" :key="slide._id" class="events__slide">
            <div class="events-slide__image">
              <img :src="`https://e2019.maximumtest.ru${slide.img}`" :alt="slide.title" class="events-slide__img">
              <span class="events-slide__type">{{type(slide)}}</span>
            </div>
            <div class="events-slide__body">
              <div class="events-slide__title">{{slide.title}}</div>
              <div class="events-slide__when">
                <div class="events-slide__date">{{date(slide)}}</div>
                <div class="events-slide__time">{{time(slide)}}</div>
              </div>
              <a :href="link(slide)" class="events-slide__link">Записаться бесплатно</a>
            </div>
          </swiper-slide>
        </swiper>
        <!-- Optional controls -->
        <div class="events__button events__button--prev" slot="button-prev"></div>
        <div class="events__button events__button--next" slot="button-next"></div>
        <div class="swiper-pagination" slot="pagination"></div>
        <div class="events__footer">
          <div class="events-footer__text">Мы проводит регулярные  бесплатные темы на <br>волнующие вас темы, делаем анонсы курсов, <br>разбираем  самые наболевшие темы</div>
          <a href="https://e2019.maximumtest.ru" class="events-footer__link">Другие мероприятия</a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Events',
  props: ['events'],
  data () {
    return {
      swiperOption: {
        slidesPerView: 3,
        loop: true,
        speed: 400,
        simulateTouch: false,
        spaceBetween: 44,
        freeMode: true,
        slideActiveClass: 'active',
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        breakpoints: {
          960: {
            slidesPerView: 2
          },
          600: {
            slidesPerView: 1
          }
        },
        navigation: {
          nextEl: '.events__button--next',
          prevEl: '.events__button--prev'
        }
      }
    }
  },
  computed: {
    swiper () {
      return this.$refs.mySwiper.swiper
    }
  },
  methods: {
    callback () {
      this.swiper.update()
    },
    type (event) {
      return event.online ? 'online' : 'offline'
    },
    date (event) {
      return moment(event.date).locale('ru').format('LL')
    },
    time (event) {
      return moment(event.date).locale('ru').format('HH:mm')
    },
    link (event) {
      return `https://e2019.maximumtest.ru/${event.url}`
    }
  }
}
</script>
