<template>
  <section class="events-flow">
    <div class="events-flow__container">
      <div class="events-flow__title">Как проходят мероприятия</div>
      <div class="events-flow__slider">
        <swiper :options="swiperOption">
          <swiper-slide v-for="(slide, index) in slides" :key="index" class="events-flow__slide">
            <img :src="slide.src" alt="Рабочий процесс" class="events-flow__img">
          </swiper-slide>
          <div class="events-flow__button events-flow__button--prev" slot="button-prev"></div>
          <div class="events-flow__button events-flow__button--next" slot="button-next"></div>
        </swiper>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'EventsFlow',
  data () {
    return {
      swiperOption: {
        navigation: {
          nextEl: '.events-flow__button--next',
          prevEl: '.events-flow__button--prev'
        },
        autoHeight: true,
        loop: true,
        slidesPerView: 'auto',
        centeredSlides: true,
        spaceBetween: 40
      },
      slides: [
        // Здесь должны быть прописаны пути до картинок на сервере
        {
          src: require('@/assets/exam/png/workflow/BULL0488.png')
        },
        {
          src: require('@/assets/exam/png/workflow/BULL0666.png')
        },
        {
          src: require('@/assets/exam/png/workflow/BULL1434.png')
        },
        {
          src: require('@/assets/exam/png/workflow/BULL8964.png')
        },
        {
          src: require('@/assets/exam/png/workflow/BULL9002.png')
        }
      ]
    }
  }
}
</script>
