<template>
  <modal :value="value" @input="closePopup">
    <event-form
      :classes="classes"
      :title="`Скорее запишись!`"
      :description="`Оставь заявку для приглашения`"
      :submitText="`регистрация`"
    ></event-form>
  </modal>
</template>

<script>
import Modal from '@/components/Modal'
import EventForm from '@/components/EventForm'
import { mapState } from 'vuex'
export default {
  name: 'EventPopup',
  components: {
    EventForm,
    Modal
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    title: {
      type: String
    },
    description: {
      type: String
    },
    submitText: {
      type: String
    },
    close: {
      type: Function
    }
  },
  data () {
    return {
      classes: ['without-shadow']
    }
  },
  methods: {
    closePopup (event) {
      this.$emit('input', event)
    }
  },
  computed: {
    ...mapState({
      registrationState: state => state.registration
    })
  },
  watch: {
    'registrationState.success' (newVal) {
      if (newVal) {
        setTimeout(this.close, 4000)
      }
    }
  }
}
</script>
