<template>
  <footer class="footer">
    <div class="footer__first">
      <div class="footer__container">
        <div class="footer__columns">
          <div class="footer__column">
            <div class="footer__contacts">
              <router-link to="/contacts" class="footer__contacts-title">Контакты</router-link>
              <a href="tel:+78007755381" class="footer__phone">8 800 775 53 81</a>
              <a href="mailto:welcome@maximumtest.ru" class="footer__email">welcome@maximumtest.ru</a>
              <div class="footer__address">
                105062, г. Москва, Подсосенский переулок, д. 23, стр. 5, этаж 2, пом. 1
              </div>
              <div class="footer__socials">
                <div class="footer__social">
                  <a href="https://fb.com" class="footer__social-link footer__social-link--fb"></a>
                </div>
                <div class="footer__social">
                  <a href="https://instagram.com" class="footer__social-link footer__social-link--inst"></a>
                </div>
                <div class="footer__social">
                  <a href="https://vk.com" class="footer__social-link footer__social-link--vk"></a>
                </div>
              </div>
            </div>
          </div>
          <nav class="footer__column">
            <div class="footer__contacts-title footer__contacts-title--middle">Наши услуги</div>
            <router-link to="/ege" @click.prevent class="footer__menu-link">ЕГЭ</router-link>
            <router-link to="/oge" @click.prevent class="footer__menu-link">ОГЭ</router-link>
          </nav>
          <div class="footer__column">
            <div class="footer__contacts-title footer__contacts-title--middle">О нас</div>
            <a href="#" @click.prevent class="footer__menu-link">Методика</a>
            <a href="#" @click.prevent class="footer__menu-link">Преподаватели</a>
            <a href="#" @click.prevent class="footer__menu-link">Онлайн-платформа</a>
            <a href="#" @click.prevent class="footer__menu-link">Государственная <br>лицензия</a>
          </div>
          <div class="footer__column">
            <a href="#" @click.prevent class="footer__menu-link footer__menu-link--site">maximumeducation.ru</a>
            <a href="#" @click.prevent class="footer__menu-link">Подробнее о компании и остальные продукты</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__second">
      <div class="footer__container">
        <div class="footer__second-content">
          <div class="footer__copyright">©2018 ООО «Юмакс». Все права защищены.</div>
          <a href="#" @click.prevent class="footer__privacy">Политика конфиденциальности</a>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>
