<template>
  <header class="header">
    <div class="header__container">
      <div class="header__logo">
        <div class="header__logo-image">
          <router-link to="/">
            <img src="../assets/main/svg/logo-exams.svg" alt="Logo" class="header__logo-img" width="114">
          </router-link>
        </div>
      </div>
      <div class="header__right-block">
        <div class="header__city-and-phone">
          <city-select :selectedCity="city" :cities="cityList" :selectCity="changeCity"></city-select>
          <div class="header__phone">8 (800) 775-53-81</div>
        </div>
        <div class="header__menu">
          <div class="header__menu-text" @click.prevent="clickMenu">Меню</div>
          <div class="header__burger" :class="{'open': openMenu}" @click.prevent="clickMenu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <Menu :open="openMenu"></Menu>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import CitySelect from '@/components/CitySelect'
import Menu from '@/components/Menu'
import { mapState, mapMutations } from 'vuex'
export default {
  name: 'Header',
  components: {
    CitySelect,
    Menu
  },
  data () {
    return {
      openMenu: false
    }
  },
  computed: {
    ...mapState({
      city: state => state.city,
      cityList: state => state.cityList,
      cityFromCookie: state => state.cityFromCookie
    }),
    toggleMenu () {
      return !this.openMenu
    }
  },
  methods: {
    ...mapMutations([
      'changeCity'
    ]),
    clickMenu () {
      this.openMenu = this.toggleMenu
    }
  }
}
</script>
