<template>
  <div>
    <div id="map" class="map"></div>
  </div>
</template>

<script>
import GoogleMapsLoader from 'google-maps'
export default {
  name: 'MapComponent',
  props: ['city'],
  methods: {
    initMap () {
      GoogleMapsLoader.KEY = 'AIzaSyAF1hwFOO4Z_EonFiJjN-OQqobyOsLBLFY'
      GoogleMapsLoader.load(google => {
        const geocoder = new google.maps.Geocoder()
        geocoder.geocode({ address: this.city.actualAddress.address }, res => {
          let Map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: res[0].geometry.location,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            disableDefaultUI: true,
            scrollwheel: false
          })
          let Marker = new google.maps.Marker({
            position: res[0].geometry.location,
            map: Map,
            icon: {
              url: '/img/pencil.png'
            },
            title: this.city.actualAddress.address
          })
          let contentString = '<div id="content">' +
            '<div id="siteNotice">' +
            '</div>' +
            `<h4 style="color: #f25c31; font-weight: 600; font-size: 15px; font-family: Montserrat; margin-bottom: 10px;" id="firstHeading" class="firstHeading">м. ${this.city.actualAddress.metro}</h4>` +
            '<div id="bodyContent">' +
            `<p style="color: #4a4a4a; font-weight: 600; font-size: 15px; font-family: Montserrat;">${this.city.actualAddress.address}</p>` +
            '</div>'
          const infowindow = new google.maps.InfoWindow({
            content: contentString
          })
          Marker.addListener('click', function () {
            infowindow.open(Map, Marker)
          })
        })
      })
    }
  },
  mounted () {
    this.initMap()
  }
}
</script>
