<template>
  <div class="menu" v-bind:class="{ 'open': isOpen }">
    <div class="menu__exam-prepare">
      <div class="menu__container">
        <div class="menu__prepare__content">
          <div class="menu-exam-prepare__left">
            <div class="menu-exam-prepare__title">Подготовка к экзаменам</div>
            <div class="menu-exam-prepare__links">
              <a href="" class="menu-exam-prepare__link">ЕГЭ</a>
              <a href="" class="menu-exam-prepare__link">ОГЭ</a>
            </div>
          </div>
          <a href="" class="menu-exam-prepare__individual">Индивидуальная консультация</a>
        </div>
      </div>
    </div>
    <nav class="menu__nav">
      <div class="menu__container">
        <div class="nav__content">
          <ul class="nav__items">
            <li class="nav__item"><a href="#" class="nav__link">О преподавателях</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Методика</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Онлайн-платформа</a></li>
            <li class="nav__item"><router-link to="/contacts" class="nav__link">Контакты</router-link></li>
          </ul>
          <a href="http://education.maximumtest.ru/signin" class="nav__login">Вход для учеников</a>
        </div>
      </div>
    </nav>
    <div class="menu__other">
      <div class="menu-other__head" @click.prevent="clickTab">
        <div class="menu__container">
          <div class="menu-other__head-text" :class="{active: openTab}">Другие продукты</div>
        </div>
      </div>
      <div class="menu-other__body" :class="{active: openTab}">
        <div class="menu__container">
          <div class="menu-other__content">
            <div class="menu-other__column">
              <div class="menu-other__item">
                <a href="http://ctp.maximumtest.ru" class="menu-other__title">Репетиторы</a>
                <div class="menu-other__description">Индивидуальная подготовка и разбор заданий</div>
              </div>
              <div class="menu-other__item">
                <a href="http://prp.maximumtest.ru" class="menu-other__title">Профориентация и развитие подростков</a>
                <div class="menu-other__description">Индивидуальная стратегия профессиональной ориентации</div>
              </div>
              <div class="menu-other__item">
                <a href="" class="menu-other__title">Бесплатные мастер-классы</a>
                <div class="menu-other__description">Вебинары и конференции</div>
              </div>
              <div class="menu-other__item">
                <a href="http://eng.maximumtest.ru" class="menu-other__title">Английский язык</a>
                <div class="menu-other__description">Сбалансированное изучения языка IELTS, TOEFL</div>
              </div>
              <div class="menu-other__item">
                <a href="http://school.maximumtest.ru" class="menu-other__title">MAXIMUM школа</a>
                <div class="menu-other__description">Программа эффективного усвоения знаний по математике и физике</div>
              </div>
              <div class="menu-other__item">
                <a href="http://maximumtest.ru/blog" class="menu-other__title">Блог</a>
              </div>
              <div class="menu-other__item">
                <a href="http://tech.maximumtest.ru" class="menu-other__title">Digital skills</a>
                <div class="menu-other__description">Основные навыки в сфере IT, веб-дизайна и программирования.</div>
              </div>
            </div>
            <div class="menu-other__column">
              <div class="menu-other__item">
                <a href="" class="menu-other__title menu-other__title--site">maximumeducation.ru</a>
                <div class="menu-other__description">Подробнее о компании </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu__mobile">
      <div class="menu__container">
        <a href="http://education.maximumtest.ru/signin" class="menu-mobile__login">Вход для учеников</a>
        <div class="menu-mobile__contacts">
          <a href="" class="menu-mobile__phone">8 800 775 53 81</a>
          <a href="" class="menu-mobile__email">welcome@maximumtest.ru</a>
          <a href="" class="menu-mobile__address">105062, г. Москва, Подсосенский <br>переулок, д. 23, стр. 5, этаж 2, пом. 1</a>
        </div>
        <div class="menu-mobile__socials">
          <div class="menu-mobile__social"><a href="https://fb.com" class="menu-mobile__social-link menu-mobile__social-link--fb"></a></div>
          <div class="menu-mobile__social"><a href="https://instagram.com" class="menu-mobile__social-link menu-mobile__social-link--inst"></a></div>
          <div class="menu-mobile__social"><a href="https://vk.com" class="menu-mobile__social-link menu-mobile__social-link--vk"></a></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  props: {
    isOpen: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      openTab: false
    }
  },
  computed: {
    toggleTab () {
      return !this.openTab
    }
  },
  methods: {
    clickTab () {
      this.openTab = this.toggleTab
    }
  }
}
</script>
