<template>
  <section class="next-step" :style="style">
    <div class="next-step__container">
      <div class="next-step__title">{{offlineEventWindow.title}}</div>
      <div class="next-step__description">{{offlineEventWindow.subtitle}}</div>
      <vue-markdown>{{offlineEventWindow.content}}</vue-markdown>
      <a href="#" class="next-step__button" @click.prevent="showEventPopup">регистрация</a>
    </div>
    <event-popup :value="eventPopup" @input="hideEventPopup"></event-popup>
  </section>
</template>

<script>
import EventPopup from '@/components/EventPopup'
import VueMarkdown from 'vue-markdown'
export default {
  name: 'NextStep',
  components: {
    EventPopup,
    VueMarkdown
  },
  props: {
    offlineEventWindow: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      eventPopup: false
    }
  },
  computed: {
    style: function () {
      if (this.offlineEventWindow && this.offlineEventWindow.img) {
        return {backgroundImage: `url(${this.offlineEventWindow.img})`, backgroundSize: 'contain'}
      }
      return {}
    }
  },
  methods: {
    showEventPopup () {
      this.eventPopup = true
    },
    hideEventPopup (event) {
      this.eventPopup = event
    }
  }
}
</script>
