<template>
  <section class="program">
    <div class="program__container">
      <div class="program__title">Программа мероприятия</div>
      <div class="program__steps">
        <div class="program__step" :key="stepIndex" v-for="(step, stepIndex) in offlineProgramWindow">
          <div class="program__step-title" :class="{'active': openedItem === stepIndex}" @click.prevent="openItem(stepIndex)">{{step.name}}</div>
          <div class="program__step-list" :class="{'active': openedItem === stepIndex}" :key="index" v-for="(event, index) in step.speeches">
            <div class="program__step-item">
              <div class="program__step-time">{{event.time}}</div>
              <div class="program__step-value">{{event.title}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="program__popup-wrapper">
        <a href="#" class="program__popup" @click.prevent="showEventPopup">регистрация</a>
      </div>
    </div>
    <event-popup :value="eventPopup" @input="hideEventPopup"></event-popup>
  </section>
</template>

<script>
import EventPopup from '@/components/EventPopup'
export default {
  name: 'Program',
  props: ['offlineProgramWindow'],
  data () {
    return {
      eventPopup: false,
      openedItem: null
    }
  },
  components: {
    EventPopup
  },
  methods: {
    showEventPopup () {
      this.eventPopup = true
    },
    hideEventPopup (event) {
      this.eventPopup = event
    },
    openItem (index) {
      if (document.documentElement.clientWidth <= 700) {
        if (this.openedItem !== index) {
          this.openedItem = index
        } else {
          this.openedItem = null
        }
      }
    }
  }
}
</script>
