<template>
  <div class="regions-popup">
    <div class="title">Ваш город</div>
    <div class="region">{{cityName}}</div>
    <button @click="closePopup">да</button>
    <div class="other" @click="showList">Другой</div>
    <div class="regions-list" v-if="other">
      <div>
        <div class="item" v-for="c in cityList" :key="c.okato" @click="changeCity(c)">
          <span>{{c.city}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RegionPopup',
  props: ['city', 'change', 'close', 'cityList', 'cityFromServer'],
  data () {
    return {
      other: false
    }
  },
  computed: {
    cityName () {
      if (this.city.city === 'Онлайн') {
        if (this.cityFromServer && this.cityFromServer !== 'Онлайн') {
          return `${this.cityFromServer} (Онлайн)`
        }
      }
      return this.city.city
    }
  },
  methods: {
    showList () {
      this.other = true
    },
    closePopup () {
      this.close()
    },
    changeCity (city) {
      this.change(city)
      this.close()
    }
  }
}
</script>

<style scoped lang="scss">
  $color_1: #000;
  $color_2: #f25c31;
  $color_3: #fff;
  $color_4: #3654a9;
  $background_color_1: #f25c31;
  .regions-popup {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 320px;
    height: max-content;
    margin: -100px 0 0 -160px;
    padding: 25px 0;
    background: url('../assets/main/svg/map-popup-background.svg') no-repeat 198px 0px #fff;
    box-shadow: 0 15px 40px 0 #ececec;
    .title {
      font-size: 12px;
      color: $color_1;
      line-height: 12px;
      margin-bottom: 16px;
    }
    .region {
      font-weight: 600;
      font-size: 15px;
      line-height: 19px;
      color: $color_1;
      margin-bottom: 22px;
    }
    button {
      background: #fff;
      border: 1px solid #f25c31;
      border-radius: 60px;
      height: 36px;
      padding: 0 20px;
      min-width: 135px;
      color: $color_2;
      font-weight: 600;
      font-size: 11px;
      letter-spacing: 0.37px;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      margin-bottom: 29px;
      &:hover {
        background-color: $background_color_1;
        color: $color_3;
      }
      &:active {
        background-color: $background_color_1;
        color: $color_3;
      }
    }
    .other {
      cursor: pointer;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      cursor: pointer;
      &:hover {
        color: $color_4;
      }
      &:active {
        color: $color_4;
      }
    }
    .regions-list {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 35;
      text-align: left;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 0.3px;
      line-height: 15px;
      background: url('../assets/main/svg/map-popup-background.svg') no-repeat 198px 0px #fff;
      > div {
        display: -ms-flex;
        display: -webkit-flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        padding: 11px 15px 5px 20px;
      }
      .item {
        width: 50%;
        margin-right: 3%;
        margin-bottom: 11px;
        &:nth-child(even) {
          width: 47%;
          margin-right: 0;
        }
        span {
          &:hover {
            text-decoration: underline;
            color: $color_4;
            cursor: pointer;
          }
        }
      }
    }
  }
  #wrap {
    .col {
      float: left;
      a {
        text-decoration: none;
      }
    }
  }
</style>
