<template>
  <section class="right-preparation">
    <div class="right-preparation__container">
      <div class="right-preparation__title">{{onlineEventWindow.title}}</div>
      <div class="right-preparation__list">
        <div class="right-preparation__item" v-for="(block, idx) in onlineEventWindow.blocks" :key="idx">
          <div class="right-preparation__item-title">{{block.title}}</div>
          <div class="right-preparation__description">{{block.description}}</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'RightPreparation',
  props: ['onlineEventWindow']
}
</script>
