<template>
  <section class="schedule">
    <div class="schedule__container">
      <div class="schedule__head">Расписание <span class="schedule__marked schedule__marked--online">вебинаров</span> <br>и <span class="schedule__marked schedule__marked--offline">очных</span> мероприятий</div>
      <div class="schedule__description">Открытые уроки, мастер-классы, консультации, <br>тестирования, образовательные выставки</div>
      <div class="schedule__list">
        <div class="schedule__item" v-for="(item, index) in events" :key="item._id" :class="isCurrent(index)" @click="setActive(index)">
          <div class="schedule__header">
            <div class="schedule__header-item">
              <span class="schedule__status" :class="`schedule__status--${item.online ? 'online' : 'offline'}`"></span>
              <div class="schedule__title">{{item.title}}</div>
            </div>
            <div class="schedule__header-item">
              <div class="schedule__date">{{date(item.date)}}</div>
              <div class="schedule__time">
                <span class="schedule__time-start">{{time(item.date)}}</span>
                -
                <span class="schedule__time-end">{{endTime(item.date)}}</span>
              </div>
            </div>
          </div>
          <div class="schedule__body">
            <div class="schedule__info">
              <div class="schedule__level">{{item.category.map(cat => cat.cate_name).join(', ')}}</div>
              <div class="schedule__status-body" :class="`schedule__status-body--${item.online ? 'online' : 'offline'}`" v-if="item.online">{{'Онлайн' | capitalize}}</div>
              <div class="schedule__status-body" :class="`schedule__status-body--${item.online ? 'online' : 'offline'}`" v-else>{{item.address}}</div>
              <ul class="schedule__features">
                <li class="schedule__feature" v-for="(thesis, index) in item.theses" :key="index">{{thesis.text}}</li>
              </ul>
            </div>
            <div class="schedule-body__image">
              <img :src="item.img" :alt="item.subtitle" class="schedule-body__img">
            </div>
          </div>
          <div class="schedule__footer" v-if="events[index].online">
            <div class="schedule-form__group form__group" v-if="!registrationState.success">
              <div class="schedule-form__input-wrapper form__input-wrapper">
                <input type="email" class="form__input" :class="{'form__input--error' : form.email.$valid === false}" title="Email" placeholder="Email" required v-model="form.email.value">
                <span class="form__valid-icon schedule-form__valid-icon required" v-if="!form.email.value > 0">*</span>
                <span class="form__valid-icon schedule-form__valid-icon valid" v-if="form.email.$valid"></span>
              </div>
              <div class="form__error" v-if="form.email.$error">{{getErrors(form.email.$error)}}</div>
            </div>
            <div class="schedule-form__group form__group" v-if="!registrationState.success">
              <button class="schedule__submit form__submit" type="submit" @click.prevent="submit(form)">зарегистрироваться</button>
            </div>
            <div v-if="registrationState.success">
              Спасибо, ваша заявка принята
            </div>
          </div>
          <div class="schedule__footer" v-else>
            <a :href="`/${item.url}`">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import moment from 'moment'
import { mapActions, mapState } from 'vuex'
export default {
  name: 'Schedule',
  props: ['events'],
  data () {
    return {
      form: {
        email: {value: '', type: 'email', required: true, $error: [], $valid: undefined}
      },
      currentItem: null
    }
  },
  computed: {
    formSubmit () {
      let object = {}
      for (let i in this.form) {
        if (this.form.hasOwnProperty(i)) {
          object[i] = this.form[i].value
        }
      }
      return object
    },
    ...mapState({
      registrationState: state => state.registration,
      city: state => state.city
    })
  },
  methods: {
    submit (object) {
      if (this.validation(object)) {
        this.registration({
          email: object.email.value,
          crmId: this.events[this.currentItem].crmId,
          city: this.city._id
        })
      }
    },
    validation (object) {
      let valid = true
      const regExpText = /^[a-zA-Zа-яА-ЯёЁ'][a-zA-Z-а-яА-ЯёЁ' ]+[a-zA-Zа-яА-ЯёЁ']?$/
      const regExpPhone = /^(\+7)([ ])(\(?\d{3}\))([ ])[\d\- ]{3}([ ])[\d\- ]{2}([ ])[\d\- ]{2}$/
      const regExpEmail = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
      for (let i in object) {
        if (object.hasOwnProperty(i)) {
          object[i].$error = []
          if (object[i].value.length > 0) {
            if (object[i].type === 'text') {
              if (!regExpText.test(object[i].value)) {
                object[i].$error.push('Неверный формат')
                object[i].$valid = false
                valid = false
                continue
              } else {
                object[i].$valid = true
              }
            } else if (object[i].type === 'tel') {
              if (!regExpPhone.test(object[i].value)) {
                object[i].$error.push('Неверный формат')
                object[i].$valid = false
                valid = false
                continue
              } else {
                object[i].$valid = true
              }
            } else if (object[i].type === 'email') {
              if (!regExpEmail.test(object[i].value)) {
                object[i].$error.push('Неверный формат')
                object[i].$valid = false
                valid = false
                continue
              } else {
                object[i].$valid = true
              }
            }
          } else if (object[i].required === true) {
            object[i].$error.push('Обязательное поле')
            object[i].$valid = false
            valid = false
            continue
          }
        }
      }
      return valid
    },
    getErrors (arr) {
      return arr.join(`\n`)
    },
    setActive (index) {
      this.currentItem = index
    },
    isCurrent (index) {
      if (this.currentItem === index) {
        return 'active'
      }
    },
    date (date) {
      return moment(date).locale('ru').format('LL')
    },
    time (date) {
      return moment(date).locale('ru').format('LT')
    },
    endTime (date) {
      return moment(date).add(1, 'hours').add(30, 'minutes').locale('ru').format('LT')
    },
    ...mapActions({
      registration: 'registration'
    })
  },
  created () {
    this.currentItem = 0
  }
}
</script>
