<template>
  <section class="speaker">
    <div class="speaker__container">
      <div class="speaker__title">{{offlineSpeakerWindow.title}}</div>
      <div class="speaker__subtitle">{{offlineSpeakerWindow.subtitle}}</div>
      <div class="speaker__list">
        <div class="speaker__item" v-for="(speaker, idx) in offlineSpeakerWindow.speakers" :key="idx">
          <div class="speaker__photo">
            <img :src="speaker.img" alt="" class="speaker__img">
          </div>
          <div class="speaker__name">{{speaker.name}}</div>
          <div class="speaker__action">{{speaker.title}}</div>
          <div class="speaker__description">{{speaker.quote}}</div>
        </div>
      </div>
      <div class="speaker__popup-wrapper">
        <a class="speaker__popup" href="#" @click.prevent="showEventPopup">регистрация</a>
      </div>
    </div>
    <event-popup :value="eventPopup" @input="hideEventPopup"></event-popup>
  </section>
</template>

<script>
import EventPopup from '@/components/EventPopup'
export default {
  name: 'Speaker',
  components: {
    EventPopup
  },
  props: {
    offlineSpeakerWindow: {
      type: Object,
      default: () => ({
        title: '',
        speakers: []
      })
    }
  },
  data () {
    return {
      eventPopup: false
    }
  },
  methods: {
    showEventPopup () {
      this.eventPopup = true
    },
    hideEventPopup (event) {
      this.eventPopup = event
    }
  }
}
</script>
