<template>
    <section class="start-right-now">
      <div class="start-right-now__container">
        <div class="start-right-now__title">Начните подготовку уже сегодня</div>
        <div class="start-right-now__description">Выберите направление:</div>
        <div class="start-right-now__list">
          <div class="start-right-now__item">
            <router-link to="/ege" class="start-right-now__link active">ЕГЭ</router-link>
          </div>
          <div class="start-right-now__item">
            <router-link to="/oge" class="start-right-now__link">ОГЭ</router-link>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
export default {
  name: 'StartRightNow'
}
</script>
