<template>
  <section class="statistics">
    <div class="statistics__container">
      <div class="statistics__list">
        <div class="statistics__item" v-for="(item, idx) in offlineStatWindow" :key="idx">
          <div class="statistics__value">{{item.title}}</div>
          <div class="statistics__title">{{item.subtitle}}</div>
          <div class="statistics__description">{{item.description}}</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Statistics',
  props: ['offlineStatWindow']
}
</script>
