<template>
  <section class="work-shop">
    <div class="work-shop__container">
      <div class="work-shop__content">
        <div class="work-shop__text">
          <div class="work-shop_title">Мастер-классы <br>для школьников</div>
          <div class="work-shop__description">Ведущие эксперты ЕГЭ и опытные <br>консультанты MAXIMUM ответят на самые <br>больные вопросы старшеклассников и их <br>родителей на вебинарах и офлайн <br>мероприятиях</div>
          <div class="work-shop__free">Участие бесплатно</div>
          <a href="#" class="work-shop__link" @click.prevent>Подробнее</a>
        </div>
        <!--<div class="work-shop__image">-->
          <!--<img src="../assets/events/png/laptop.png" alt="Когда и как готовитться к экзаменам" class="work-shop__img">-->
        <!--</div>-->
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'WorkShop'
}
</script>
