<template>
  <div id="app">
    <script2 src="https://unpkg.com/axios/dist/axios.min.js"></script2>
    <script2 src="https://pay-app.maximumtest.ru/ecwid/yandexKassaApp.js"></script2>
    <RegionPopup
      :cityList="cityList"
      :city="city"
      :change="changeCity"
      :close="closePopup"
      v-if="showRegionSelect"
      :cityFromServer="cityFromServer"
    />
    <script2 type="text/javascript">
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
      _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="https://v2.zopim.com/?4ETvIu7RqQd4cGXVXI575MRFIjpy3JZu";z.t=+new Date;$.
          type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script2>
    <router-view/>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import RegionPopup from '@/components/RegionPopup'
export default {
  name: 'App',
  data () {
    return {
      showRegionSelect: false
    }
  },
  mounted () {
    setTimeout(() => {
      if (!this.cityFromCookie) {
        this.openPopup()
      }
    }, 7000)
  },
  components: {
    RegionPopup
  },
  computed: mapState({
    city: state => state.city,
    cityList: state => state.cityList,
    cityFromCookie: state => state.cityFromCookie,
    cityFromServer: state => state.cityFromServer
  }),
  methods: {
    ...mapMutations([
      'changeCity'
    ]),
    closePopup () {
      this.showRegionSelect = false
    },
    openPopup () {
      this.showRegionSelect = true
    }
  }
}
</script>

<style lang="scss">
  @import "styles/styles";
</style>
